@page
@model WebRazor.Pages.Product.IndexModel
@{
}
<section class="product-shop spad">
        <div class="container">
            <div class="row">
        
                <div class="col-lg-12 order-1 order-lg-2">

                    <div class="product-list">
                        <div class="row">
                        @foreach (var p in Model.Products)
                        {
                            <div class="col-lg-3 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <a asp-page="./Product/Detail" asp-route-id="@p.ProductId"><img src="img/products/product-1.jpg" alt=""></a>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="./Product/Details/@p.ProductId"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a asp-page="./Product/Details" asp-route-id="@p.ProductId">+ Quick View</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Towel</div>
                                        <a href="#">
                                            <h5>@p.ProductName</h5>
                                        </a>
                                        <div class="product-price">
                                            @p.UnitPrice
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>